:root {
  /* colors */

  --black: #000;
  --level-1: #181823;
  --white: #fff;
  --purple: #5221e6;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;

  /* fonts */

  --font-family: 'Sen', sans-serif;
}

@font-face {
  font-family: 'Sen';
  src: url('../fonts/../fonts/SenRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Sen';
  src: url('../fonts/../fonts/SenBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline-style: none;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 72px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.section-title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
}

/* ===============Header=================== */

.header {
  position: relative;
  height: 903px;
}

.header::after {
  content: '';
  position: absolute;
  left: 38%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--level-1);
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__logo {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.header__logo:hover {
  color: var(--purple);
}

.logo-icon {
  width: 78px;
  height: 24px;
  fill: currentColor;
}

.header__nav {
  height: 100%;
}

.header__nav-list {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 11;
  height: 100%;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.header__nav-item:hover {
  background-color: var(--purple);
}

.header__nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.header__inner {
  position: absolute;
  left: 0;
  bottom: 85px;
  display: flex;
  align-items: center;
  z-index: 11;
}

.header__image {
  position: relative;
  flex: 0 1 750px;
}

.header__title {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 78px;
  line-height: 1.2;
  color: var(--white);
}

.header__title span {
  color: rgba(255, 255, 255, 0.5);
}

.header__heading {
  position: relative;
  margin-left: -88px;
  max-width: 738px;
  height: 100%;
  z-index: 13;
}

/* ===============Header/=================== */

/* ===============Experience=================== */

.experience {
  padding-top: 111px;
  padding-bottom: 116px;
}

.experience__title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
}

.experience__subtitle {
  margin-bottom: 40px;
  max-width: 690px;
  line-height: 1.2;
}

.experience__list {
  counter-reset: num;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.experience__item {
  padding-top: 145px;
  padding-right: 40px;
  position: relative;
  counter-increment: num;
  grid-column: 4 span;
}

.experience__item::before {
  content: '0' counter(num);
  position: absolute;
  left: 0;
  top: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 117px;
  color: var(--light-grey);
}

.experience__item:nth-child(n + 10)::before {
  content: counter(num);
}

.experience__item-title {
  margin-bottom: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

.experience__item:nth-of-type(1) span {
  color: var(--green-accent);
}

.experience__item:nth-of-type(2) span {
  color: var(--blue-accent);
}

.experience__item:nth-of-type(3) span {
  color: var(--pink-accent);
}

.experience__item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-grey);
}

/* ===============Experience/=================== */

/* =================philosophy================= */

.philosophy__inner {
  margin: 0 auto;
  max-width: 1440px;
display: flex;
}

.philosophy__descr {
  padding: 140px 74px 127px 72px;
  flex-basis: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--peach-accent);
}

.philosophy__title {
  margin-bottom: 44px;
  color: var(--level-1);
}

.philosophy__text {
  color: var(--dark-grey);
}

.philosophy__link {
  display: inline-block;
  margin-top: auto;
  padding-bottom: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 118px;
  color: var(--level-1);
  border-bottom: 1px solid var(--light-grey);
}

.philosophy__image img {
  flex-basis: 50%;
  vertical-align:bottom;
}

/* =================philosophy/================= */

/* ===============Skills=================== */

.icon,
.icon-3 {
  margin-bottom: 20px;
  width: 32px;
  height: 32px;
  color: var(--purple);
}

.icon-3 {
  stroke: currentColor;
  fill: none;
}

.skills {
  padding-top: 112px;
  padding-bottom: 114px;
  background-color: var(--black);
  color: var(--light-grey);
}

.skills__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  column-gap: 10px;
}

.skills__inner-descr {
  padding-top: 20px;
  grid-column: 1 / 2;
}

.skills__title {
  margin-bottom: 44px;
}

.skills__descr {
  max-width: 330px;
}

.skills__inner-cards {
  padding-left: 10px;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 18px;
}

.skills-card__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.skills-card__text {
  font-size: 16px;
  max-width: 376px;
}

@media (max-width: 1280px) {
  .skills__inner {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .skills__descr {
    max-width: 100%;
  }

  .skills__inner-cards {
    grid-column: 1 / 2;
  }
}

@media (max-width: 768px) {
  .skills__inner {
    row-gap: 68px;
  }

  .skills__inner-cards {
    grid-template-columns: 1fr;
  }

  .skills-card__text {
    max-width: 100%;
  }
}

@media (max-width: 568px) {
  .skills__title {
    font-size: 32px;
  }
}

/* ===============Skills=================== */

/* ===============Clients=================== */

.clients {
  background-color: var(--black);
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clients__item {
}

.clients__item:not(:last-child) {
  border-right: 1px solid var(--level-1);
}

.clients__link {
  padding-block: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 140px;
  border: 1px solid var(--level-1);
  color: var(--light-grey);
  transition: color 0.3s ease-in-out;
}

.clients__link:hover {
  color: var(--purple);
}

.client-icon {
  position: relative;
  width: 85px;
  height: 30px;
  fill: currentColor;
  z-index: 9;
}

.client-icon--5 {
  width: 154px;
  height: 25px;
}

.client-icon--6 {
  width: 42px;
  height: 21px;
}

@media (max-width: 768px) {
  .clients__item {
    padding-inline: 40px;
    width: 50%;
  }
}

@media (max-width: 380px) {
  .clients__item {
    width: 384px;
  }
}

/* ===============Clients/=================== */
