:root {
  /* colors */

  --black: #000;
  --level-1: #181823;
  --white: #fff;
  --purple: #5221e6;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;

  /* fonts */

  --font-family: 'Sen', sans-serif;
}

@font-face {
  font-family: 'Sen';
  src: url('../fonts/../fonts/SenRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Sen';
  src: url('../fonts/../fonts/SenBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline-style: none;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 72px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.section-title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2;
  color: var(--white);
}

/* ===============Header=================== */

.header {
  position: relative;
  height: 903px;
}

.header::after {
  content: '';
  position: absolute;
  left: 38%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--level-1);
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__logo {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.header__logo:hover {
  color: var(--purple);
}

.logo-icon {
  width: 78px;
  height: 24px;
  fill: currentColor;
}

.header__nav {
  height: 100%;
}

.header__nav-list {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 11;
  height: 100%;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.header__nav-item:hover {
  background-color: var(--purple);
}

.header__nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.header__inner {
  position: absolute;
  left: 0;
  bottom: 85px;
  display: flex;
  align-items: center;
  z-index: 11;
}

.header__image {
  position: relative;
  flex: 0 1 750px;
}

.header__title {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 78px;
  line-height: 1.2;
  color: var(--white);
}

.header__title span {
  color: rgba(255, 255, 255, 0.5);
}

.header__heading {
  position: relative;
  margin-left: -88px;
  max-width: 738px;
  height: 100%;
  z-index: 13;
}

/* ===============Header/=================== */

/* ===============Experience=================== */

.experience {
  padding-top: 111px;
  padding-bottom: 116px;
}

.experience__title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
}

.experience__subtitle {
  margin-bottom: 40px;
  max-width: 690px;
  line-height: 1.2;
}

.experience__list {
  counter-reset: num;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.experience__item {
  padding-top: 145px;
  padding-right: 40px;
  position: relative;
  counter-increment: num;
  grid-column: 4 span;
}

.experience__item::before {
  content: '0' counter(num);
  position: absolute;
  left: 0;
  top: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 117px;
  color: var(--light-grey);
}

.experience__item:nth-child(n + 10)::before {
  content: counter(num);
}

.experience__item-title {
  margin-bottom: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

.experience__item:nth-of-type(1) span {
  color: var(--green-accent);
}

.experience__item:nth-of-type(2) span {
  color: var(--blue-accent);
}

.experience__item:nth-of-type(3) span {
  color: var(--pink-accent);
}

.experience__item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-grey);
}

/* ===============Experience/=================== */

/* =================philosophy================= */

.philosophy__inner,
.instagram__inner {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
}

.philosophy__descr,
.instagram__descr {
  padding: 121px 74px 118px 72px;
  flex-basis: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--peach-accent);
}

.philosophy__title,
.instagram__title {
  margin-bottom: 24px;
  color: var(--level-1);
}

.philosophy__text,
.instagram__text {
  color: var(--dark-grey);
}

.philosophy__link,
.instagram__link {
  display: inline-block;
  margin-top: auto;
  padding-bottom: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 118px;
  color: var(--level-1);
  border-bottom: 1px solid var(--light-grey);
}

.philosophy__image,
.instagram__img img {
  flex-basis: 50%;
}

/* =================philosophy/================= */

/* ===============Skills=================== */

.icon,
.icon-3 {
  margin-bottom: 20px;
  width: 32px;
  height: 32px;
  color: var(--purple);
}

.icon-3 {
  stroke: currentColor;
  fill: none;
}

.skills {
  padding-top: 120px;
  padding-bottom: 114px;
  background-color: var(--black);
  color: var(--light-grey);
}

.skills__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  column-gap: 10px;
}

.skills__inner-descr {
  grid-column: 1 / 2;
}

.skills__title {
  margin-bottom: 24px;
}

.skills__descr {
  max-width: 330px;
}

.skills__inner-cards {
  padding-left: 10px;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 18px;
}

.skills-card__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.skills-card__text {
  font-size: 16px;
  max-width: 376px;
}

@media (max-width: 1280px) {
  .skills__inner {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .skills__descr {
    max-width: 100%;
  }

  .skills__inner-cards {
    grid-column: 1 / 2;
  }
}

@media (max-width: 768px) {
  .skills__inner {
    row-gap: 68px;
  }

  .skills__inner-cards {
    grid-template-columns: 1fr;
  }

  .skills-card__text {
    max-width: 100%;
  }
}

@media (max-width: 568px) {
  .skills__title {
    font-size: 32px;
  }
}

/* ===============Skills=================== */

/* ===============Clients=================== */

.clients {
  background-color: var(--black);
}

.clients__list {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.clients__item:not(:last-child) {
  border-right: 1px solid var(--level-1);
}

.clients__link {
  padding-block: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 140px;
  border: 1px solid var(--level-1);
  color: var(--light-grey);
  transition: color 0.3s ease-in-out;
}

.clients__link:hover {
  color: var(--purple);
}

.client-icon {
  position: relative;
  width: 85px;
  height: 30px;
  fill: currentColor;
  z-index: 9;
}

.client-icon--5 {
  width: 154px;
  height: 25px;
}

.client-icon--6 {
  width: 42px;
  height: 21px;
}

@media (max-width: 768px) {
  .clients__item {
    padding-inline: 40px;
    width: 50%;
  }
}

@media (max-width: 380px) {
  .clients__item {
    width: 384px;
  }
}

/* ===============Clients/=================== */

/* ===============Works=================== */

.work {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, 1fr);
  gap: 24px;
}

.work__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
}

.work__subtitle {
  max-width: 572px;
}

.work__item-image {
  overflow: hidden;
}

.work__item-link .work-pic {
  transition: transform .3s ease-in-out;
}

.work__item-link:hover .work-pic {
  transform: scale(1.02);
}

.work__item--heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-height: 244px;
}
.work__item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}
.work__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.work__item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 5 / 8;
}

.work__item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 4 / 7;
}

.work__item:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

.work__item-descr {
  padding: 40px 32px;
  background-color: var(--level-1);
}

.work__item-title {
  margin-bottom: 13px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

.work__item-descr p {
  color: var(--light-grey);
}

.work__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__btn {
  padding: 24px 32px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--purple);
  transition: background-color .3s ease-in-out;
}

.work__btn:hover {
  background-color: var(--purple);
}

/* ===============Works/=================== */

/* ===============Dribble=================== */

.dribble {
  padding-top: 120px;
  padding-bottom: 120px;
}

.dribble__inner {
  padding-inline: 110px;
}

.dribble__title,
.about__title,
.photography__title,
.started__title {
  margin-bottom: 24px;
}

.dribble__text,
.about__text,
.photography__text,
.started__text {
  margin-bottom: 40px;
  max-width: 636px;
  color: var(--light-grey);
}

.dribble__link,
.about__link {
  display: inline-block;
  margin-bottom: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  border-bottom: 1px solid var(--light-grey);
}

.dribble__descr {
  margin-bottom: 120px;
}

.dribble__image img {
  border-radius: 8px;
}
/* ===============Dribble/=================== */

/* ===============About=================== */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about__inner {
  display: flex;
  gap: 24px;
}

.about__heading {
  padding-right: 80px;
}

.about__content,
.about__heading {
  flex-basis: 50%;
}

.about__item:not(:last-child) {
  margin-bottom: 120px;
}

.about__descr {
  padding: 64px;
  border: 1px solid var(--light-grey);
  border-top: none;
}

.about__quote {
  margin: 0;
}

.about__quote p {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

.about__quote cite {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
  color: var(--dark-grey);
}
/* ===============About/=================== */

/* ===============Photography=================== */

.photography {
  padding-top: 120px;
  padding-bottom: 120px;
}

.photography__pagination-list {
  margin-bottom: 49px;
  display: flex;
  gap: 24px;
}

.photography__pagination-item {
  padding: 12px 16px;
  border: 1px solid var(--purple);
  transition: background-color 0.3s ease-in-out;
}

.photography__pagination-item:hover {
  background-color: var(--purple);
}

.photography__pagination-item:active {
  background-color: var(--purple);
}

.photography__pagination-link {
  padding: 12px 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
}

.photography__gallery-list {
  display: flex;
  gap: 24px;
}

.photography__gallery-item {
  cursor: pointer;
}

.photography__image,
.photography__gallery-item {
  overflow: hidden;
}

.photography__gallery-item img {
  transition: transform 0.3s ease-in-out;

}

.photography__gallery-item:hover img {
  transform: scale(1.1);
}

.photo-pic {

}

/* ===============Photography/=================== */

/* ===============Started=================== */

.started {
  padding-top: 120px;
  padding-bottom: 120px;
}

.started__inner {
  padding-inline: 110px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.started__heading {
  max-width: 494px;
}

.started__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 526px;
  width: 100%;
}

.started__inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.started__label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.started__input {
  margin-top: 8px;
  padding: 16px;
  border: none;
  color: var(--white);
  background-color: var(--level-1);
}

textarea {
  min-height: 100px;
}

.started__btn {
  padding-block: 24px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--purple);
}

/* ===============Started/=================== */

/* ===============Footer=================== */

.footer {
  padding-block: 80px;
  background-color: var(--level-1);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.footer__content {
  margin-bottom: 58px;
  display: flex;
  align-items: flex-start;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.footer__soc1al-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer__nav-list,
.footer__more-list {
  padding-top: 12px;
  padding-right: 163px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__more-list {
  padding-right: 209px;
}

.footer__nav {
  margin-left: auto;
}

.footer__bottom {
  color: var(--light-grey);
}

.footer__nav-link,
.footer__more-link {
  transition: color .3s ease-in-out;
}

.footer__nav-link:hover,
.footer__more-link:hover {
  color: var(--purple);
}
/* ===============Footer/=================== */
